<div class="container">
    <div class="row mt-3 text-center align-content-center">
      <div class="col-md-6 offset-md-3 px-5">
          <div><img class="img-responsive logo img-fluid" src="/assets/img/passlogo.jpeg" alt=""></div>
            <h2><b>Recover Your Password</b></h2>
            <div>
              <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
                <div class="row my-5 ">
                  <div class="col-md-12">
                    <input formControlName="email" type="email" placeholder="Email" class="form-control">
                    <div  class="text-danger float-left" *ngIf="email.invalid && submitted" >
                      <div *ngIf="email.errors['required']">email is required</div>
                      <div *ngIf="!email.errors['required'] && email.errors['email']">email address is invalid</div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-4">
                  <button type="submit" class="btn btn-success btn-block btn-round">Reset Password</button>
                  </div>
                  <div class="col-md-12 mt-3">
                    <h6 class="text-muted">Don't have an account yet? <a routerLink="/auth/register">Sign up now</a></h6>
                  </div>

                </div>
              </form>
            </div>
      </div>
    </div>
  </div>
