<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="float-right">
        <button class="btn btn-light"> <i class="fa fa-plus-circle"></i> Add Income</button>
        <button class="btn btn-light"><i class="fa fa-plus-circle"></i> Add Expense</button>
        <!-- <button class="btn btn-light"><i class="fa fa-plus-circle"></i> Add Expense</button> -->
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         <h5>Account Summary</h5>
        </div>
        <div class="card-body">
          <div class="row border-bottom">
            <div class="col-md-4 px-5 py-3 brd-rgh border-bottom">
              <div class="row">
                <td colspan="2">
                    <div class="col-sm-2">
                        <i class="fa fa-wallet text-grn fa-3x"></i>
                      </div>
                </td>
                <td colspan="10">
                    <div >
                        <h6>Total Income</h6>
                        <h4>$15,500.00</h4>
                        <h6 class="text-muted">150 Transactions</h6>
                      </div>
                </td>
              </div>
            </div>
            <div class="col-md-4 px-5 py-3 brd-rgh border-bottom">
                <div class="row">
                  <td colspan="2">
                      <div class="col-sm-2">
                          <i class="fa fa-credit-card text-grn fa-3x"></i>
                        </div>
                  </td>
                  <td colspan="10">
                      <div >
                          <h6>Total Expense</h6>
                          <h4>$20,523.12</h4>
                          <h6 class="text-muted">237 Transactions</h6>
                        </div>
                  </td>
                </div>
              </div>
              <div class="col-md-4 px-5 py-3 border-bottom">
                  <div class="row">
                    <td colspan="2">
                        <div class="col-sm-2">
                            <i class="fa fa-history text-grn fa-3x"></i>
                          </div>
                    </td>
                    <td colspan="10">
                        <div >
                            <h6>Total Outsanding</h6>
                            <h4>$76,980.00</h4>
                            <h6 class="text-muted">175 Transaction</h6>
                          </div>
                    </td>
                  </div>
                </div>
          </div>
        </div>
        <div class="card-body">
          <h5>Transactions</h5>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th colspan="2" scope="col">Date</th>
                      <th colspan="6" scope="col">Description</th>
                      <th colspan="2" scope="col">Amount</th>
                      <th colspan="2" scope="col">Category</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2"><p>10/04/2019</p></td>
                      <td colspan="6"><h6>This is my income</h6> </td>
                      <td colspan="2">$10.00</td>
                      <td colspan="2">refund for accounting fees</td>
                    </tr>
                    <tr>
                        <td  colspan="2"><p>02/06/2019</p></td>
                        <td  colspan="6"><h6>This is my expsense</h6> </td>
                        <td colspan="2"> $20.00</td>
                        <td colspan="2">refund for computer</td>
                      </tr>
                      <tr>
                          <td colspan="2"><p>07/10/2019</p></td>
                          <td colspan="6"><h6>This is outsanding</h6></td>
                          <td colspan="2">$220.00</td>
                          <td colspan="2">payroll</td>
                        </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
