<div class="container rm-pl">
  <div class="row ">
    <div class="col-md-6 offset-md-3">
      <div class="text-center mt-3"><img class="img-responsive logo" src="/assets/img/passlogo.jpeg" alt="logo"></div>
      <h2 class="text-center mt-3"><b>Tell us about your business</b></h2>
      <form class="onboarding my-5" [formGroup]="onboardingForm" (ngSubmit)="setup()" >
        <div class="row">
          <div class="col-md-12 mb-3">
            <input formControlName="businessName" type="text" class="form-control"
            placeholder="what the name of your business?">
            <div class="text-danger float-left" *ngIf="onboardControl.businessName.invalid && submitted">
              business name is required
            </div>
          </div>
          <div class="col-md-12 mb-3">
              <select formControlName="businessSector" class="form-control">
                  <option disabled value="">business sector?</option>
                  <option *ngFor="let sector of sectors" [value]="sector.slug">{{sector.name}}</option>
              </select>
              <div class="text-danger float-left" *ngIf="onboardControl.businessSector.invalid && submitted">
                  business sector is required
                </div>
            </div>
          <div class="col-md-12 mb-3">
            <select name="businnessType" class="form-control" formControlName="businessType">
              <option disabled value="">business type?</option>
              <option *ngFor="let busType of businessTypes" [value]="busType.slug">{{busType.name}}</option>
            </select>
            <div class="text-danger float-left" *ngIf="onboardControl.businessType.invalid && submitted">
              business type is required
            </div>
          </div>
          <div class="col-md-12 mb-3">
                <select formControlName="businessCountry" class="form-control">
                  <option disabled value="">business country?</option>
                  <option *ngFor="let country of countries" [value]="country.slug">{{country.name}}</option>
                </select>
              <div class="text-danger float-left" *ngIf="onboardControl.businessCountry.invalid && submitted">
                business country is required
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <select formControlName="businessCurrency" class="form-control">
                <option disabled value="">business currency?</option>
                <option *ngFor="let currency of currencies" [value]="currency.slug">{{currency.name}}</option>
              </select>
                <div class="text-danger float-left" *ngIf="onboardControl.businessCurrency.invalid && submitted">
                  business currency is required
                </div>
              </div>
        <div class="col-md-12 ">
          <button type="submit" class="btn btn-success btn-block btn-round">Let's go!</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
