<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 align-content-center">
        <div><img class="img-responsive logo img-fluid" src="/assets/img/passlogo.jpeg" alt=""></div>
        <h2 class="mb-3"><b>Confirmation</b></h2>
        <div *ngIf="false">
          <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>
        <div>
          <h5>Account activation successful</h5>
          <a routerLink="/auth/login" class="btn btn-success mt-2  btn-round">Sign in</a>
        </div>


    </div>
  </div>
</div>
